.home-container #home-img{
    filter: brightness(20%);
    height: 100vh;
  }
  
  .home-container #project-meta{
    position: relative;
    display: block;
    bottom: 350px;
    left: 0px;
    margin: 0px 50px;
  }
  
  .page-title{
    position: absolute;
    font-size: 48px;
    font-weight: 600;
    color: brown;
    font-family: 'Roboto', sans-serif;
  }
  
  .page-subtitle{
    position: absolute;
    padding-top: 75px;
    font-size: 24px;
    font-weight: 500;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
  }
  
  .page-author{
    position: absolute;
    padding-top: 225px;
    font-size: 14px;
    font-weight: 500;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
  }
  
  .img-author-container{
    position: relative !important;
    display: block !important;
    bottom: 5% !important;
  }
  
  .img-author{
    position: absolute;
    right: 25px;
    color:whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    opacity: 0.75;
  }
  
  .content-img-author{
    width: 50%;
    color:whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    opacity: 0.75;
    text-align: right;

  }
  
  .content-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  figcaption{
    width: 70%;
    max-width: 500px;
    color:whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    opacity: 0.75;
    text-align: left;
    margin: 0 17.5pc;
  }
  
  .content-container{
    display: block;
    padding: 100px 50px 0px 50px;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  
  .--dark{
    background-color: black;
    opacity: 0.85;
    color: whitesmoke;
  }

  .--light{
    background-color: white;
    color: black;
  }

  .transparent{
    opacity: 0.85;
  }
  
  .content-text{
    font-size: 20px;
    margin-top: 18px;
  }
  
  .content-section-title{
    font-size: 24px;
    padding-bottom: 18px;
  }
  
  .content-section-title::before {
    width: 1em;
    height:1em;
    background: brown;
    display:inline-block;
    content: "";
    margin-right: 14px;
    vertical-align: middle;
    margin-bottom: 5px;
  }
  
  hr.content-divider{
    color: brown;
    margin-top: 28px;
    margin-bottom: 28px;
  }
  
  .v-application a{
    text-decoration: none;
    color: brown !important;
  }
  
  blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: brown;
    padding: 1.5em 0 0.5em;
    margin: 1.5em 0;
    position: relative;
  }
  
  blockquote:before {
    content: '\201C';
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 3rem;
    height: 2rem;
    font: 4rem 'PT Sans', sans-serif;
    line-height: 4rem;
    color: whitesmoke;
    text-align: center;
  }
  blockquote:after {
    content: "\2013 \2003" attr(cite);
    display: block;
    text-align: right;
    font-size: 0.875em;
    color: whitesmoke;
  }

  .switch-container{
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  
  @media only screen and (min-width: 768px){
      .home-container #project-meta{}
  
      .content-container{
        padding: 100px 100px 0px 100px;
      }
  }
  
  @media only screen and (min-width: 992px){
      .home-container #project-meta{
        bottom: 350px;
        margin: 0px 100px;
      }
  
      .page-title{
        font-size: 64px;
      }
  
      .page-subtitle{
        font-size: 32px;
        padding-top: 100px;
      }
  
      .page-author{
        font-size: 18px;
        padding-top: 225px;
      }
  
      .content-container{
        padding: 100px 400px 0px 400px;
      }
  }