/* eslint-disable vue/no-v-html */

<template>
  <v-app>
    <div id="main">
      <section class="home-container">
        <v-img
          id="home-img"
          :src="require('../assets/game_over.jpg')"
          max-height="100vh"
        />
        <div id="project-meta">
          <span class="page-title">
            In-game activisim
          </span>
          <span class="page-subtitle">
            Understanding the use, affordances, and impact of video games in social movements
          </span>
          <span class="page-author">
            By Dillon Gidcumb
          </span>
        </div>
        <div class="img-author-container">
          <span class="img-author">
            <span>Photo by <a href="https://unsplash.com/@sigmund?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Sigmund</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
          </span>
        </div>
      </section>
      <section class="content-container --dark">
        <div id="content-introduction">
          <div class="content-text" v-html="intro" />
        </div>
        <div
          v-for="section in sections"
          :key="section.id"
        >
          <div class="content-section-title">
            <span>{{ section.title }}</span>
          </div>
          <v-img
            class="content-img"
            :src="section.img"
          />
          <span class="content-img-author">
            <span>{{ section.imgAuthor }}</span>
          </span>
          <div class="content-text" v-html="section.content" />
        </div>
      </section>
    </div>
  </v-app>
</template>

<script>
import intro from '../content/introduction.md'
import animalCrossing from '../content/animal_crossing.md'
import minecraft from '../content/minecraft.md'
import slacktivism from '../content/slacktivism.md'
import resources from '../content/resources.md'

export default {
  data: () => ({
    sections: [
      { title: 'Animal Crossing', id: '#animal-crossing', img: 'https://source.unsplash.com/2ajwLKnRHBY/1600x900', imgAuthor: 'Photo by Sara Kurfeß on Unsplash', content: animalCrossing },
      { title: 'Minecraft', id: '#minecraft', img: '', imgAuthor: '', content: minecraft },
      { title: 'Slacktivism', id: '#slacktivism', img: '', imgAuthor: '', content: slacktivism },
      { title: 'Resources', id: '#resources', img: '', imgAuthor: '', content: resources }
    ]
  }),

  computed: {
    intro() {
      return intro
    },

    animalCrossing() {
      return animalCrossing
    },

    minecraft() {
      return minecraft
    },

    slacktivism() {
      return slacktivism
    },

    resources() {
      return resources
    }
  }
}
</script>

<style>
@import '../css/main.css';
</style>
